  <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-top-area">
                          
                            <%=link_to '#' do%>
                            <%=image_tag 'logocolor.svg', alt: ''%>
                            
                            <% end %>
                            
                            <p>Get the latest in trading cards from us</p>
                            <form class="row g-2 my-3">
                                <div class="col-auto">
                                    <label for="staticEmail2" class="visually-hidden">Email</label>
                                    <input type="text" class="form-control" id="staticEmail2" placeholder="Your email address…">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="footer-menu">
                            <ul class="nav navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="#">Terms & Conditions</a></li>
                               <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="copyright-text text-end">
                            © cardstash 2021. All right reserved
                        </div>
                    </div>
                </div>
            </div>
        </footer>